/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 30 Jul 2018, 4:29:47 PM
    Author     : marsi
*/

.screenborder
{
    -fx-border-color: darkslategrey;  /*actual visible screen border colour*/
    -fx-border-width: 15; 
    -fx-border-style: solid;
    -fx-background-color: white;
}

.headerborder
{
    -fx-border-color: darkslategrey;  /*actual visible screen border colour*/
    -fx-border-width: 0 0 5 0; 
    -fx-border-style: solid;
    -fx-background-color: white;
}

.label-subheader
{
    -fx-font-family: "Times New Roman";
    -fx-font-size: 24px;
    -fx-font-weight: bold;
    -fx-text-fill: black;    
    -fx-text-alignment: center;
    -fx-alignment: center;    
    -fx-hpos: center;
}

.label-header
{
    -fx-font-family: "Times New Roman";
    -fx-font-size: 46px;
    -fx-font-weight: bold;
    -fx-text-fill: black;    
    -fx-text-alignment: center;
    -fx-alignment: center;    
    -fx-hpos: center;
}


.label-columnheader
{
    -fx-font-family: "Times New Roman";
    -fx-font-size: 24px;
    -fx-font-weight: bold;
    -fx-text-fill: #25316D;    
    -fx-text-alignment: center;
    -fx-alignment: center;    
    -fx-hpos: left;
}

.label-storename
{
    -fx-font-family: "Times New Roman";
    -fx-font-size: 24px;
    -fx-font-weight: bold;
    -fx-text-fill: #25316D;    
    -fx-text-alignment: center;
    -fx-alignment: center;    
    -fx-hpos: left;
}

.label-datetime
{
    -fx-font-family: "Times New Roman";
    -fx-font-size: 16px;
    -fx-font-weight: bold;
    -fx-text-fill: lightslategray;    
    -fx-text-alignment: center;
    -fx-alignment: center;    
    -fx-hpos: center;
}


.label-status
{
    -fx-font-family: "Times New Roman";
    -fx-font-size: 22px;
    -fx-font-weight: bold;
    -fx-text-fill: green;    
    -fx-text-alignment: center;
    -fx-alignment: center;    
    -fx-hpos: center;
}

.statusbutton_red
{
    -fx-background-color: linear-gradient(#ff0000, #660000);
    -fx-background-radius: 5em;
    -fx-min-width: 30px;
    -fx-min-height: 30px;
    -fx-max-width: 30px;
    -fx-max-height: 30px;
    -fx-text-fill: white;
}

.statusbutton_green
{
    -fx-background-color: linear-gradient(#00cc00, #006600);
    -fx-background-radius: 5em;
    -fx-min-width: 30px;
    -fx-min-height: 30px;
    -fx-max-width: 30px;
    -fx-max-height: 30px;
    -fx-text-fill: white;
}

.statusbutton_orange
{
    -fx-background-color: linear-gradient(#ff6600, #cc5200);
    -fx-background-radius: 5em;
    -fx-min-width: 30px;
    -fx-min-height: 30px;
    -fx-max-width: 30px;
    -fx-max-height: 30px;
    -fx-text-fill: white;
}